<div class="row">
  <div class="col m6 s12">
{{#wge-card title="Wicked Good Ember" class="blue-grey darken-1"}}
  This will go in the body of the card
  {{#wge-card-action}}
    <span {{action "accept"}}>
      Accept
    </span>
  {{/wge-card-action}}
  {{#wge-card-action}}
    <span {{action "cancel"}}>
      Cancel
    </span>
  {{/wge-card-action}}
{{/wge-card}}
  </div>
</div>


