{{outlet}}

<table class="bordered ember-view">
<thead>
  <tr>
      <th>By</th>
      <th>Action</th>
      <th>Work Item</th>
      <th>Start at</th>
      <th>Finish at</th>
      <th>Duration</th>
      <th>Ticket#</th>
      <th>Belong category</th>
  </tr>
</thead>
<tbody>
{{#each model as |item|}}
  {{item-row
    sessionEmail=session.content.secure.email
    item=item
    itemEmail=item.user.email
  }}
{{/each}}
</tbody>
</table>