{{outlet}}

<table class="bordered ember-view">
<thead>
  <tr>
      <th>Action</th>
      <th>Work Item</th>
      <th>By</th>
      <th>Start at</th>
      <th>Finish at</th>
      <th>Duration</th>
      <th>Ticket#</th>
      <th>Belong category</th>
  </tr>
</thead>
<tbody>
{{#each model as |item|}}
  {{item-row
    sessionEmail=session.content.secure.email
    workitem=item.workitem
    email=item.user.email
    startSince=item.startSince
    endSince=item.endSince
    durationMoment=item.durationMoment
    ticketnumber=item.ticketnumber
    category=item.category
  }}
{{/each}}
</tbody>
</table>