<div class="new-user-form">
    {{paper-text label="Email" type="email" value=email}}
    {{paper-text type="password" label="Password" value=password}}
    <br/>
    {{#paper-button raised=true classNames="md-primary" action="createAccount"}}Create Account{{/paper-button}}
</div>