<h2> Reviews for {{product.model.name}}</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th data-field="name">Reviews</th>
        </tr>
        {{#each model as |review|}}
        <tr><td>{{review}}</td></tr>
        {{/each}}
    </thead>
</table>