<div class="row">
<form id="login" {{action 'authenticate' on='submit'}} class="col s6">
  <div class="row">
    {{md-input value=identification label='Login via badge' placeholder='Enter Login'}}
  </div>
  <div class="row">
    {{md-input value=password label='Password' type="password" placeholder='Enter Password'}}
  </div>
  {{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Login'}}
</form>
</div>