<h3>Computed Properties</h3>
  {{#md-tabs selected=selectedTabId colWidth=3}}
    {{md-tab value='basic' title='Basic'}}
    {{md-tab value='cpm' title='CPMs'}}
    {{md-tab value='composable-cpm' title='Composable CPMs'}}
  {{/md-tabs}}
{{outlet}}