{{outlet}}
<div class="container">
  <div class="row">
    <div class="col s12 text-center">
        <iframe src="http://www.slideshare.net/mikelnorth/slideshelf" width="490px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
    </div>
  </div>
</div>

