<h3>Testing</h3>
<div class="row">
  <div class="col s12">
    <ul class="collection">
      {{#link-to 'testing.pageobject' tagName='li' class='collection-item'}}
        <a>PageObject</a>
      {{/link-to}}
      {{#link-to 'testing.test' tagName='li' class='collection-item'}}
        <a>Test</a>
      {{/link-to}}
    </ul>
  </div>
</div>

{{outlet}}
